 .main-container{
        position:relative;width: 93%;margin: 0px auto;min-height: 500px;padding: 20px 20px;
        border-radius: 6px;
        background: #fff;
    }
     .foot{
        background-color: #263238;color:#fff;padding: 20px 20px
    }
    .foot h1,h2,h3{
       padding: 20px 0px;font-weight: normal
    }
     .foot span{
       padding: 20px 0px;font-size: 16px
    }

/**/
     .foot--nav{
        position:relative;padding: 20px;color: #fff;margin: 0 auto
    }
      .foot--nav::after{
        content: ''; clear: both;display: block;
      }
   .foot--help{
       width:12%;float: left;color: #fff;margin: 0 25px;
   }
   .foot--help > img:first-child{
       height: 200px;width: 200px;
   }
   .foot--help a,li{
       color: #fff;padding: 5px
   }
   .foot--help h2{    font-weight: normal;}
   .foot--help::after{
        content: '';
        clear: both;
        display: block;
   }
   .foot--help::before{
        content: '';
        clear: both;
        display: block;
        
   }
   .foot--split{
       clear: both;
       display: block;border-bottom: 1px solid #666
    }
   .foot--logo{
       text-align: center;min-width: 200px;
   }
   .foot--logo span{display: block;font-size: 28px}
.foot--rights{
    text-align: center
}
@media screen and (min-width: 1024px) {
   
}

@media screen and (max-width: 900px) {
     .foot--help:nth-of-type(1){
       width:100%;float: none;
   }
   .foot--help{
       width: 33.3333%;box-sizing: border-box;margin: 0
   }
}
@media screen and (max-width: 460px) {
     .foot--help{
       width:100%;float: none;text-align: center
   }
  
}

