<supermap-header></supermap-header>
<div style="background: #ececec;padding:20px">
	<div class="main-container">
		<router-outlet></router-outlet>
	</div>
</div>
<div class="foot">
	<!--<h1 style="font-weight: normal;">METE DESIGN</h1>
	<h2>Meteorology Department Front End Framework</h2>
	<h3>Version:v1.0.0</h3>
	<span>技术支持：北京超图软件股份有限公司气象事业部成都分部·刘世强|储奎</span>
	-->
	<div class="foot--nav">
		<div class="foot--help foot--logo">
			<img src="https://angular.cn/resources/images/logos/inverse/shield/shield-large.png" alt="">
			<span>METE DESIGN</span>
		</div>
		<div class="foot--help">
			<h2>热门框架</h2>
			<ul>
				<li><a href="">Angular</a></li>
				<li><a href="">React</a></li>
				<li><a href="">Vue</a></li>
			</ul>
		</div>
		<div class="foot--help">
			<h2>推荐网站</h2>
			<ul>
				<li><a href="">GitHub</a></li>
				<li><a href="">Stackoverflow</a></li>
				<li><a href="">简书</a></li>
				<li><a href="">掘金</a></li>
			</ul>
		</div>
        <div class="foot--help">
			<h2>网站记录</h2>
			<ul>
				<li><a href="">版本更新</a></li>
				<li><a href="">报告问题</a></li>
				<li><a href="">网站反馈</a></li>
			</ul>
		</div>
		<span class="foot--split"></span>
	</div>
	<div class="foot--rights">
		<h2>© 2016 SuperMap Meteorology Department All Rights Reserved</h2>
		<span>技术支持：北京超图软件股份有限公司气象事业部成都分部·刘世强 | 储奎</span>
	</div>



</div>