<h1>命名规范</h1>
<p>了解了MD-CSS规范历史之后，接下来让我们来学习下命名规范。我们规范将分为两类，一类是组件式，而是公工类。
</p>
<h2>组件式样式表</h2>

<h3>块（Block）</h3>
<ol>
<li>一个快必须有一个独立的类名</li>
<li>块与块之间用<strong>-</strong>连接</li>
<li>块直接可以嵌套</li>
<li>块名后接元素名</li>
</ol>
<h3>元素（Element）</h3>
<ol>
<li>元素与元素之间用<strong>--</strong>连接</li>
<li>元素前接块名</li>
</ol>
<h3>修饰符（Modifier）</h3>
<ol>
<li>修饰符之间用<strong>__</strong>连接</li>
<li>修饰符前接元素名</li>
</ol>
<p>例如：一个登陆模块

</p>
<ol>
<li>模块我们可以取名为login</li>
<li>login模块中有很多个输入框，这些输入框如果不想再拆分，我们则可以称之为Element，如果将输入框再拆分的话，又可以称之为Block，这里我们暂称为Element，我们可以取名为input</li>
<li>一个输入框当用户点击时，我们想让外边线框高亮，这个时候Modifier就可以排上用场了，我们取一个名为outline的Modifier，表示给外边框修饰，如果还想给他加上特定的颜色，比如加一个蓝色，这个时候可以给它加一个名为blue的Modifier，这里颜色我们暂且把它分在公工类中。</li>
</ol>
<p>于是，根据我们的命名规范，CSS类名如下

</p>
<pre><code>.login
.login--input
.login--input__outline__sizeBig (假设还有一个sizeBig的修饰符，用来修饰大小)
.login--input__outline outlineBlue500 (这里outlineBlue500由于是公共类，所以不能连接)</code></pre>
<blockquote>
<p>如果该模块被复用了，但是又想渲染不一样的效果，我们可以采取使用不同的修饰符，这里我们可以自行添加修改修饰符，但请给位同事按照此规范来添加修改。

</p>
</blockquote>
<p>目前组件样式表我们有</p>
<ol>
<li>按钮<ol>
<li>btn</li>
<li>btnSubmit</li>
<li>btnCancel</li>
<li>btnLink</li>
<li>btnDel</li>
</ol>
</li>
<li>输入框<ol>
<li>iptDef</li>
<li>iptErr</li>
<li>iptWarn</li>
</ol>
</li>
</ol>
<h2>公共样式表</h2>
<p>目前我们公共样式表类有

</p>
<ol>
<li>颜色
 颜色请参考<a href="http://www.material-ui.com/#/customization/colors" title="Material-UI">Material-UI</a> </li>
</ol>

<p><em>具体请参考《API参考》</em></p>

<h2>注意事项</h2>
<p>组件式样式表命名格式为全部小写，公共样式表遵循驼峰式命名！！！</p>

