<h1>文件目录命名规范</h1>
<h2>组件</h2>
<blockquote>
<p>命名：components


</p>
</blockquote>
<h2>静态资源</h2>
<blockquote>
<p>命名：assets

</p>
</blockquote>
<h2>第三方库</h2>
<blockquote>
<p>命名：lib

</p>
</blockquote>
<h2>公共文件</h2>
<blockquote>
<p>命名：public

</p>
</blockquote>
<ol>
<li><p>样式表</p>
<blockquote>
<p>命名：css</p>
</blockquote>
</li>
<li><p>脚本</p>
<blockquote>
<p>命名：scripts</p>
</blockquote>
</li>
</ol>
<h2>node模块</h2>
<blockquote>
<p>命名：node_modules<br>备注：不需要我们手动建立文件夹，使用npm会自动生成。

</p>
</blockquote>
<h2>入口文件</h2>
<blockquote>
<p>命名：index.html

</p>
</blockquote>
<p>以下为目录结构示例

</p>
<pre><code>--node_modules
--components 
--lib
--public
    --css
    --scripts
--assets
    --imgs
    --fonts
--index.html</code></pre>